{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <h1>Add Product</h1>
    {{ form(form) }}
    <a href="{{ path('product_index') }}">Back</a>
{% endblock %}
